<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297749314407-th2mfvi3s2fm0bn9t5ckbncipv8v9qu4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297749314407-th2mfvi3s2fm0bn9t5ckbncipv8v9qu4</string>
	<key>API_KEY</key>
	<string>AIzaSyCnTw4jXVkVZG4d4NTa4QhmT0XZi6a-tvE</string>
	<key>GCM_SENDER_ID</key>
	<string>297749314407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>totoy.bibo.shitchat</string>
	<key>PROJECT_ID</key>
	<string>shitchat-b3ea7</string>
	<key>STORAGE_BUCKET</key>
	<string>shitchat-b3ea7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297749314407:ios:d095173ec81eb63e310dc2</string>
</dict>
</plist>