<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>719385359589-kpvk8s3qjsod2olhdc8iau64cp3m9410.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719385359589-kpvk8s3qjsod2olhdc8iau64cp3m9410</string>
	<key>API_KEY</key>
	<string>AIzaSyCj5YeDu4r-tcOTUpkmtsqUi08pOmBkn4s</string>
	<key>GCM_SENDER_ID</key>
	<string>719385359589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>totoy.bibo.flash-chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-f8229</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-f8229.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719385359589:ios:6caa6f753041948cd4100c</string>
</dict>
</plist>